# this is <.gitignore>
# ============================================================================
# files to be ignored by git
# ============================================================================
# stuploxx
# --------
#
# descriptive text files
*_text.h
*_text.cc
# 
# ----- END OF .gitignore ----- 
