# this is <.gitignore>
# ============================================================================
# files to be ignored by git
# --------------------------
# $Id: $
# ============================================================================
# ignore all derived files
# ------------------------
#
# binary object code
*.o
#
# dependencies
*.d
#
# dependencies for header files
*.hd
#
# stripped header files
*.strip
#
# secondary intermediate files
*.xxx
#
# ignore all other helper files
# -----------------------------
#
# vim backup
*.bak
#
# file list
flist
#
# vim swap file
*.swp
#
# other editors backup files
*~
#
# any junk
junk*
#
# files created by siklst backup scripts
*.ulog
*.log
*.tar.bz2
#
# secondary files which are produced by test cases for example
*.ps
*.pdf
*.TZ
*.TR
*.TT
*.su
*.sff
#
# temporary files
*.tmp
*.htmp
#
# automatic prototypes
*.P
#
# secondary LaTeX output
*.aux
*.dvi
*.log
*.toc
*.bbl
*.blg
#
# ignore all source code files, which can automatically be created
# and which store user specific settings
# ----------------------------------------------------------------
src/green/gremlin1/libs/glq_dim.inc
# 
# ----- END OF .gitignore ----- 
