# this is <.gitignore>
# ============================================================================
# files to be ignored by git
# --------------------------
# files in src/libs/libtime
# -------------------------
#
# source code documentation
*.doc
# 
# ----- END OF .gitignore ----- 
